.faq-single {
	border:1px solid #dddddd;
	border-bottom:none;
	margin-bottom:-1px;
	position:relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;;}
.faq-heading {
	padding:6px 28px 6px 10px; 
	line-height:18px; 
	border-bottom:1px solid #dddddd;
	background-color:#f8f8f8;
	cursor:pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s; 
	background-image: url('../image/toggle-icon.png');
    background-position:100% -92px; 
	background-repeat:no-repeat;}
.faq-heading:hover, .faq-heading.active {
	}
.faq-heading.active {
	background-position:100% -2px; 
	background-repeat:no-repeat;}
.faq-answer {
	display:none;
	line-height:18px;
	padding:15px;
	border-bottom:1px solid #dddddd;}

