$screen-mobile-s: 320px;
$screen-mobile-m: 375px;
$screen-mobile-l: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;


$screen-mobile-s-max: 374px;
$screen-mobile-m-max: 424px;
$screen-mobile-l-max: 767px;
$screen-tablet-max: 1023px;


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 17px;
}

h3,
h4 {
  font-size: 14px;
}

h5,
h6 {
  font-size: 1em;
}

ul,
ol,
dl {
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul,
dd {
  margin: 0;
}

li {
  display: list-item;
  list-style-position: outside;
  margin: 0 0 0 0;
  padding: 0;
}

blockquote,
dd {
  padding: 0 0 0 2em;
}

a {
  color: #5f98c3;
  text-decoration: none;
}

a:hover {
  color: #5f98c3;
  text-decoration: underline;
}

pre,
code,
samp,
kbd,
var {
  font: 100% mono-space, monospace;
}

pre {
  overflow: auto;
}

abbr,
acronym {
  border-bottom: 1px dotted #000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  moz-margin-after: 0px;
  moz-margin-before: 0px;
  o-margin-after: 0px;
  o-margin-before: 0px;
  webkit-margin-after: 0px;
  webkit-margin-before: 0px;
}

abbr[title],
acronym[title] {
  cursor: help;
}

small {
  font-size: .9em;
}

sup, sub {
  font-size: .8em;
}

em, cite, q {
  font-style: italic;
}

img {
  border: none;
}

hr {
  background-color: rgb(215, 215, 215);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, caption {
  text-align: center;
}

form div {
  clear: both;
  margin: .5em 0;
}

label {
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
}

.abso {
  font-size: 80%;
  line-height: 155%;
  position: absolute;
}

input[type="radio"],
input[type="checkbox"],
.radio,
.checkbox {
  margin: 0 .25em 0 0;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}

body {
  background: url('/img/fon.png');
  background-attachment: fixed;
  background-position: center;
  font-family: arial;
  font-size: 14px;
  margin: 0;
}

// добавлен container

.container {
  max-width: 940px;
  margin: 0 auto;

  @media (max-width: $screen-tablet-max) {
    padding: 0 15px;
  }
}
//@media (max-width: $screen-sm) {
//  body {
//    background: url("../image/main background mobile.png");
//  }

//}

#global {
  background: #fff;
  margin: 0 auto;
  max-width: 1087px;

  // адаптив
  //padding: 20px;


  .header {
    background: url('../../default/image/headbg.png');
    height: 173px;
    position: relative;
    z-index: 9999;

    //@media (max-width: $screen-tablet) {
    //  padding-right: 20px;
    //  padding-left: 20px;
    //}

    .head {
      background: url('../../default/image/head_background_new.png');
      //todo убрать background из head в headmenu
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 234px;
      //margin: 0 auto;
      width: 100%;

      //display: flex;
      //
      //justify-content: space-between;


      .company-name {
        //height: 0;
        //position: relative;
        //top: -27px;
        //top: (66px - 27px);
        //left: 81px - 41px;
        margin-right: 10px;

        >span {
          font-size: 18px;
          color: #E4E4E4;
          text-shadow: 1px 1px 3px #000;


        }

        @media (max-width: $screen-tablet) {
          text-align: center;
        }
      }


    }
  }
}
.head__top {
  display: flex;
  //align-content: space-between;
  justify-content: space-between;

  @media (max-width: $screen-mobile-l) {
    justify-content: center;
  }
}

.head__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  //min-width: 40%;
  //max-width: 40%;
  margin-top: 66px - 27px;
  flex: 1;

  @media (max-width: $screen-tablet) {
    margin-top: 20px;
    padding-left: 20px;


  }

  @media (max-width: $screen-mobile-l) {
    display: none;
  }
}

.head__right {
  //min-width: 40%;
  //max-width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-top: 63px - 10px;
  //padding-right: 63px;
  flex: 1;

  @media (max-width: $screen-mobile-l) {
    display: none;
  }
}

.head__logo {
  //align-self: center;
  //margin: 0 auto;
  //max-width: 33%;

  @media (max-width: $screen-mobile-l) {
    //position: relative;
    //top: 5px;
    align-self: center;

  }

  .logo {
    position: relative;
    top: 5px;

    @media (max-width: $screen-mobile-l) {
      width: 100px;
      top: 0;
    }
  }
}

//@media (max-width: $screen-sm) {
//  .head {
//    max-width: 576px;

  //}
//}

#global .header .head span {
  font-size: 14px;
  color: #79abd0;
  position: relative;
  //top: 66px;
  font-weight: bold;

  @media (max-width: $screen-laptop){
    font-size: 12px;
  }
}

#global .header .head .adress {
  //display: block;
  //height: 0px;
  //left: 81px - 18px;
  //top: 27px - 8px;
  margin-top: 27px - 8px;
  //position: relative;

  >span {
    color: #e4e4e4;
    text-shadow: 1px 1px 3px #000;
  }

}

#global .header .head .phone {
  //left: 440px;
  //display: flex;
  //justify-content: flex-end;
  //text-align: end;
  right: 63px;


}

.logoheaderurl {
  //height: 0px;
  //left: 50%;
  //margin-left: -73px;
  position: relative;
  //top: 5px;
  //width: 0px;
  display: block;

  >img {
    width: 100%;
    //position: absolute;
  }
}

.headmenu {
  display: flex;
  justify-content: space-between;

  @media (max-width: $screen-mobile-l) {
    display: none;
  }


  ul {
    //float: left;
    position: relative;
    //top: 132px;
    //left: 70px;
    display: inline-block;

    li {
      float: left;
      list-style: none;
      margin-right: 53px;
        ///* padding: 11px 12px; */
      @media (max-width:$screen-laptop) {
        margin-right: 0;
      }

      &:hover {
        color: #05376c;
      }
    }
  }
}

.headmenu ul li a:hover {
  background: #b3bfd3;
  color: #05376c;
}

.headmenu ul li a.active {
  background: #b3bfd3;
  color: #05376c;
}

.headmenu ul li a {
  font-size: 14px;
  color: #3c6699;
  padding: 11px 17px 10px 17px;
  font-weight: bold;
}

.headmenu .menu1 {
  //left: 85px;
  padding-left: 85px;
}

.headmenu .menu1 li {
}

.headmenu .menu1 li a {
}

.headmenu .menu2 {
  //left: 153px;
  padding-right: 85px;
}

.headmenu .menu2 li {

  &:last-child{
    margin-right: 0;
  }
}

.headmenu .menu2 li a {
}

#slide {
  height: 475px;
  background-repeat: no-repeat;
  background-position: center;
}

.block2 {
  margin-bottom: 50px;

  .blockheader {
    background: url('../../default/image/block2.png');
    bottom: 60px;
    height: 84px;
    margin: 0 auto;
    position: relative;
    width: 940px;
  }

  .blockcontent {
    bottom: 45px;
    margin: 0 auto;
    max-width: 950px;
    position: relative;

    .blockcontentcase {
      background: url('../../default/image/blockprod.png');
      border: 1px solid #e6ecf3;
      border-radius: 5px;
      float: left;
      height: 400px;
      margin-left: 24px;
      position: relative;
      width: 285px;
      z-index: 9999999;
    }
  }
}


.blockcontentcase img.imgcase {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 0px;
  width: 285px;
}

.blockcontentcase img.imgpodr {
}

.blockcontentcase a.imgpodra {
  position: relative;
  bottom: 22px;
  left: 55px;
}

.blockcontentcase img.imgbord {
  position: relative;

  left: 87px;
}

.blockcontentcase h2 {
  color: #396699;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.blockcontentcase span {
  color: #5f91c1;
  display: block;
  font-size: 14px;
  margin: 0px auto;
  margin-top: 10px;
  text-align: center;
  width: 240px;
}

.blockcontentcase a.imgpamyatkaa {
  left: 60px;

  position: relative;
  top: 30px;
}

.blockcontentcase img.imgpamyatka {
  opacity: 0.6;
}

#pamyatka h2 {
  margin-top: 60px;
  margin-bottom: 35px;
}

#pamyatka img {
  margin-bottom: 20px;
}

#pamyatka a#kakmrab {
  color: #5f91c1;
  left: 85px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  top: 40px;
}

#pamyatka a#kakmrab:hover {
  text-decoration: none;
}

#pamyatka span {
}

.footer {
  background: url('../image/footer.png');
  background-color: #fff;
  background-repeat: no-repeat;
  height: 90px;
  margin: 0 auto;
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer .left {
  float: left;
  margin-top: 35px;
}

.footer .left ul {
}

.footer .left ul li {
  float: left;
  list-style: none;
  margin-right: 34px;
}

.footer .left ul li a {
  color: #5f91c1;
}

.footer .left ul li a:hover {
  text-decoration: underline;
}

.footer .right {
  float: right;
  margin-top: 35px;
}

.footer .right ul {
}

.footer .right ul li {
  float: left;
  list-style: none;
  margin-left: 30px;
}

.footer .right ul li a {
  color: #5f91c1;
}

.footer .right ul li a:hover {
  text-decoration: underline;
}

.copy span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  height: 130px;
}

#content {
  margin: 0 auto;
  width: 940px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.breadcrumb {
  text-align: center;
  color: #5f98c3;
  padding-top: 22px;
}

.breadcrumb a {
  color: #5f98c3;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

#content h1 {
  text-align: center;
  font-size: 48px;
  color: #396699;
  margin-bottom: 50px;
}

#content .categorylist {

  background: url('../image/submenu.png');
}

.categorylist table {

}

.categorylist table tr {

}

.categorylist table tr td {
  padding-bottom: 11px;

  padding-top: 11px;
  text-align: center;
}

.categorylist table tr td:hover {
  background: url('../image/submenuhover.png');

}

.categorylist table tr td a {
  padding: 10px 0px;

  color: #396699;
}

.categorycategory {
  display: inline-block;
  margin-bottom: 50px;
}

.categorycategory .categorycase {
  background: url('../image/blockprod.png');
  width: 420px;
  height: 360px;
  background-size: 100% 100%;
  border-radius: 5px;
  border: 1px solid #e6ecf3;
  margin-top: 50px;
  margin-left: 23px;
  margin-right: 23px;
  float: left;
}

.categorycase h2 {
  margin-top: 60px;
  text-align: center;
  font-size: 34px;
  color: #396699;
  height: 115px;
}

.categorycase h5 {
  text-align: center;
  color: #5f91c1;
  font-size: 14px;
  padding: 0px 30px;
  height: 100px;
  overflow: hidden;
}

.categorycase img.imgbord {
  margin: 25px 0px;
  position: relative;
  left: 148px;
}

.categorycase a.imgpodra {
  position: relative;

  left: 41px;
  top: 7px;
}

.categorycase img.imgpodr {

}

#content .categorytovar {
  display: inline-block;
  margin: 25px 0px;
}

#content .categorytovar .categorytovarcase {
  background: url('../image/blockprod.png');
  background-size: 100% 100%;
  border-radius: 5px;
  border: 1px solid #e6ecf3;
  float: left;
  width: 280px;
  height: 305px;
  margin: 25px 7px 0px 20px;
}

#content .categorytovar .categorytovarcase:hover {
  box-shadow: 0px 0px 8px 1px #e6ecf3;
}

#content .categorytovar .categorytovarcase:hover h2 {
  text-decoration: underline;
  cursor: pointer;
}

#content .categorytovar img.categorytovarcasepr {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 280px;
  height: 160px;
  background: #fff;
}

#content .categorytovar h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #3b6699;
  margin: 15px 0px;
}

#content .categorytovar h5 {
  text-align: center;
  color: #5f91c1;
  font-size: 14px;
  margin: 0px auto;
  width: 240px;
  margin-top: 10px;
  height: 47px;
  overflow: hidden;
}

#content .categorytovar a:hover h5 {
  text-decoration: none;
}

#content .categorytovar a:hover span {
  text-decoration: none;
}

#content .categorytovar a:hover h2 {
  text-decoration: underline;
}

#content .categorytovar a:hover {
  text-decoration: none;
}

#content .categorytovar span.price {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #3b6699;
  margin: 15px 0px;
}

#content .categorytovar span.pod-price {
  text-align: center;
  display: block;
}

#content .categorytovar span.old-price {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: #666;
  margin: 15px 5px;
  text-decoration: line-through !important;
}

#content .categorytovar span.new-price {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #3b6699;
  margin: 15px 5px;
}

.pagination {
  margin: 25px 0px;
}

.pagination .links {
  text-align: center;
  background: url('../image/paginationbg.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 44px;
  background-size: 36% 95%;
  padding-top: 10px;
}

.pagination .links a {
  color: #3d7ab3;
  padding: 0px 10px;
}

.pagination .links a:hover {
  text-decoration: underline;
}

.pagination .links b {
  color: #d35341;
  font-weight: normal;
  padding: 10px 10px;
}

.pagination .links b:hover {
}

.product-info {
  display: inline-block;
}

.product-info .left {
  float: left;
  margin-right: 5px;
}

.product-info .right {
  float: right;
  width: 380px;
  margin-left: 45px;
}

.product-info .right .description .price {
  color: #396699;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

.description p {
  color: #000;
  font-size: 14px;
  left: 0px;
  padding: 0px;
  position: static;
  top: 0px;
}

.price-old {
  color: #4a6d9896;
  text-decoration: line-through;
}

.product-info .button {
  cursor: pointer;
}

.image img {
  border: 1px solid #e6ecf3;
  border-radius: 5px;
}

.image-additional img {
  border-radius: 5px;
  border: 1px solid #e6ecf3;
}

.content input {
  width: 400px;
}

.blockcontentcase .imgpodr:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.first .prev:hover {
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.first .next:hover {
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#slide div a span:hover {
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.block2 .blockcontent .blockcontentcase:hover {
  box-shadow: 0px 0px 10px 0px #396699;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.blockcontentcase img.imgpamyatka:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.links img {
  position: relative;
  top: 5px;
}

.links img:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.categorycategory .categorycase:hover {
  box-shadow: 0px 0px 8px 1px #e6ecf3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#content .categorytovarcase:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.categorycase img.imgpodr:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.box {
  background: url('../image/blockprod.png');
  background-size: 100% 100%;
  box-shadow: inset 10px 10px 20px -7px #e7edf3;
  padding: 10px 0px 0px 0px;
}

.box .box-content {
}

.box .box-content .box-category {
}

.box .box-content .box-category ul {
}

.box .box-content .box-category ul li {
  list-style: none;
}

.box .box-content .box-category ul li a {
  padding: 12px 45px;
  width: 190px;
  display: block;
  font-size: 15px;
  color: #3b6699;
  text-decoration: underline;
}

.box .box-content .box-category ul li a:hover {
  text-decoration: none;
}

.box .box-content .box-category ul li a + ul {
  display: none;
}

.box .box-content .box-category ul li a.active + ul {
  display: block;
}

.box .box-content .box-category ul li a.active {
  background: #c8cfdd;
  color: #05376c;
  text-decoration: underline;
}

.box .box-content .box-category ul li ul {
}

.box .box-content .box-category ul li ul li {
}

.box .box-content .box-category ul li ul li a {
  padding: 12px 24px 12px 66px;
}

.box .box-content .box-category ul li ul li a.active {
}

.button img:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.right .button {
  background: #3c6699;
  color: #fff;
  border: none;
  padding: 9px 38px;
  font-size: 13px;
  cursor: pointer;
}

.right .button:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.buttons .right {
  margin-top: 25px;
}

@media (min-resolution: .001dpcm) {
  _:-o-prefocus, .abracadabra {
    background: url('../image/logopng.png');
  }
;
}

#product_options .option label {
  display: inline-block;
}

#product_options .error {
  display: block;
  font-size: 12px;
  color: red;
}

#notification {
}

#notification .success {
  line-height: 28px;
  position: fixed;
  top: 300px;
  left: 41%;
  display: block;
  background: #fff;
  border: 1px solid #396699;
  width: 310px;
  padding: 27px;
  border-radius: 5px;
  text-align: center;
}

#notification .success a {
}

#notification .success a:hover {
}

#notification .success img {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.next-cart {
  display: block;
  margin: 0px auto;
  width: 135px;
  text-align: center;
  background: #396699;
  color: #fff;
  margin-top: 15px;
}

.next-cart:hover {
  color: #fff;
  text-decoration: none;
  background: #5f98c3;
}

.categories_1000 {
  margin: 0px;
}

.categories_1000 a {
  display: none;
}

.categories_1000 ul.turboq1 {
  display: table;
  text-align: center;
  width: 940px;
}

.categories_1000 ul.turboq1 ul.turboq1 {
  display: none;
}

.categories_1000 .turboq1 a {
  display: block;
  padding: 11px 25px;
  color: #396699;
}

.categories_1000 .turboq1 a:hover {
  background: url('../image/submenuhover.png');
  text-decoration: none;
}

.categories_1000 .turboq1 li.active {
  display: inline-block;
}

.categories_1000 .turboq1 li.children1 {
  display: inline-block;
}

.categories_1000 .turboq1 li.children1 a {
  display: inline-block;
}

.categories_1000 .turboq1 li.active .active {
  display: inline-block;
  background: #B8CEE8;
  color: #fff;
  padding: 10px 25px;
}

.categories_1000 .turboq1 li.active .active + ul {
  display: none;
}

.categories_1000 .turboq1 li {
  display: inline-block;
}

.categories_1000 li {
  display: none;
}

.categories_1000 li.children1 {
  display: block;
}

.categories_1000 li.children1 .havechild {
  display: none;
}

.categories_1000 li.children1 .expand-categ {
  display: none;
}

.categories_1000 .turboq1 li.children1 .turboq1 li {
  display: inline-block;
  padding: 0px 8px;
}

.categories_1000 .turboq1 li.children1 .turboq1 li a.active {
  background: #B8CEE8;
  color: #fff;
}

#product_options {
}

#product_options b {
  margin-bottom: 3px;
}

#product_options select {
  width: 300px;
}

#product_options input {
  width: 300px;
}

.options select {
  width: 300px;
}

.options input {
  width: 300px;
}

#simplecheckout_button_confirm {
  display: block;
  margin: 0px auto;
  width: 135px;
  text-align: center;
  background: #396699;
  color: #fff;
  margin-top: 15px;
  padding: 6px 6px;
  cursor: pointer;
}

#simplecheckout_button_confirm:hover {
  color: #fff;
  text-decoration: none;
  background: #5f98c3;
}

.article-info h2 {
  font-size: 18px;
  font-weight: bold;
}

#content h2 {
  font-size: 18px;
  font-weight: bold;
}

.contact-info ul {
  margin-left: 25px;
}

#product_options .checkbox input {
  width: 15px;
}

#product_options .checkbox label {
  width: 290px;
  position: relative;
  bottom: 1px;
}

.description .cart {
  text-align: center;
}

.description .cart span {
  display: block;
  text-align: center;
}

.linkkk {
  margin-bottom: 10px;
}

.linkkk ul {
  list-style: none;
}

.linkkk ul li {
  list-style: initial;
  margin-left: 18px;
  font-size: 15px;
  margin-bottom: 10px;
}

.linkkk ul li a {
  text-decoration: underline;
  font-size: 15px;
}

.linkkk ul li a:hover {
  text-decoration: none;
}

// добавлено мной в код
