// переменные под адаптив

$screen-mobile-s: 320px;
$screen-mobile-m: 375px;
$screen-mobile-l: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;


$screen-mobile-s-max: 374px;
$screen-mobile-m-max: 424px;
$screen-mobile-l-max: 767px;
$screen-tablet-max: 1023px;


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 17px;
}

h3,
h4 {
  font-size: 14px;
}

h5,
h6 {
  font-size: 1em;
}

ul,
ol,
dl {
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul,
dd {
  margin: 0;
}

li {
  display: list-item;
  margin: 0 0 0 0;
  padding: 0;
  list-style-position: outside;
}

blockquote,
dd {
  padding: 0 0 0 2em;
}

a {
  text-decoration: none;
  color: #5f98c3;
}

a:hover {
  text-decoration: underline;
  color: #5f98c3;
}

pre,
code,
samp,
kbd,
var {
  font: 100% mono-space, monospace;
}

pre {
  overflow: auto;
}

abbr,
acronym {
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px dotted #000;
}

p {
  moz-margin-after: 0px;
  moz-margin-before: 0px;
  o-margin-after: 0px;
  o-margin-before: 0px;
  webkit-margin-after: 0px;
  webkit-margin-before: 0px;
}

abbr[title],
acronym[title] {
  cursor: help;
}

small {
  font-size: .9em;
}

sup, sub {
  font-size: .8em;
}

em, cite, q {
  font-style: italic;
}

img {
  border: none;
}

hr {
  background-color: rgb(215, 215, 215);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, caption {
  text-align: center;
}

form div {
  clear: both;
  margin: .5em 0;
}

label {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-weight: bold;
}

.abso {
  font-size: 80%;
  line-height: 155%;
  position: absolute;
}

input[type="radio"],
input[type="checkbox"],
.radio,
.checkbox {
  margin: 0 .25em 0 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
  font-size: 14px;
  margin: 0;
  background: url('/img/fon.png');
  background-attachment: fixed;
  background-position: center;
}

// добавлен container

.container {
  max-width: 940px;
  margin: 0 auto;

  @media (max-width: $screen-tablet-max) {
    padding: 0 15px;
  }
}

//@media (max-width: $screen-sm) {
//  body {
//    background: url("../image/main background mobile.png");
//  }

//}

#global {
  max-width: 1087px;
  margin: 0 auto;
  background: #fff;

  // адаптив
  //padding: 20px;


  .header {
    position: relative;
    z-index: 9999;
    height: 173px;
    background: url('../../default/image/headbg.png');

    @media (max-width: $screen-mobile-l) {
      height: 100px;
    }

    //@media (max-width: $screen-tablet) {
    //  padding-right: 20px;
    //  padding-left: 20px;
    //}

    .head {
      width: 100%;
      //todo убрать background из head в headmenu
      height: 234px;
      background: url('../../default/image/head_background_new.png');
      background-repeat: no-repeat;
      //margin: 0 auto;
      background-size: 100% 100%;

      @media (max-width: $screen-mobile-l) {
        height: 137px;
        position: fixed;
        top: 0;
        left: 0;
      }


      .company-name {
        //height: 0;
        //position: relative;
        //top: -27px;
        //top: (66px - 27px);
        //left: 81px - 41px;
        margin-right: 10px;

        > span {
          font-size: 18px;
          color: #e4e4e4;
          text-shadow: 1px 1px 3px #000;

          @media (max-width: $screen-mobile-l) {
            font-size: 14px;
          }

        }

        @media (max-width: $screen-tablet) {
          text-align: center;
        }
      }


    }
  }
}

.head__top {
  display: flex;
  //align-content: space-between;
  justify-content: space-between;

  @media (max-width: $screen-mobile-l) {
    position: absolute;
    left: 70px;
    justify-content: start;
  }
}

.head__left {
  display: flex;
  align-items: flex-end;
  flex: 1;
  //min-width: 40%;
  //max-width: 40%;
  flex-direction: column;
  margin-top: 66px - 27px;

  @media (max-width: $screen-tablet) {
    margin-top: 20px;
    //padding-left: 20px;


  }

  @media (max-width: $screen-mobile-l) {
    //display: none;
    padding-left: 5px;
  }
}

.head__right {
  //min-width: 40%;
  //max-width: 40%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  //padding-right: 63px;
  margin-top: 63px - 10px;

  @media (max-width: $screen-mobile-l) {
    //display: none;
    margin-top: 0;
  }
}

.head__logo {
  //align-self: center;
  //margin: 0 auto;
  //max-width: 33%;

  @media (max-width: $screen-mobile-l) {
    //position: relative;
    //top: 5px;
    align-self: center;
    //padding-left: 15px;
    order: -1;
  }

  .logo {
    position: relative;
    top: 5px;

    @media (max-width: $screen-mobile-l) {
      width: 70px;
      //top: 0;
    }
  }
}

//@media (max-width: $screen-sm) {
//  .head {
//    max-width: 576px;

//}
//}

#global .header .head span {
  //font-size: 14px;
  //color: #79abd0;
  font-weight: bold;
  //top: 66px;
  position: relative;

  @media (max-width: $screen-laptop) {
    //font-size: 12px;
  }
}

#global .header .head .adress {
  //display: block;
  //height: 0px;
  //left: 81px - 18px;
  //top: 27px - 8px;
  margin-top: 27px - 8px;
  //position: relative;

  @media (max-width: $screen-mobile-l) {
    display: none;

  }

  > span {
    color: #e4e4e4;
    text-shadow: 1px 1px 3px #000;

    @media(max-width: $screen-tablet) {
      font-size: 12px;
    }
  }

}

#global .header .head .phone {
  //left: 440px;
  //display: flex;
  //justify-content: flex-end;
  //text-align: end;
  right: 63px;

  @media (max-width: $screen-mobile-l) {
    right: 0;
    margin-top: 8px;
    text-align: end;
  }

  > span:first-child {

    @media (max-width: $screen-mobile-l) {
      //font-size: 12px;
      text-align: start;
    }
  }
}

.phone-code {
  font-size: 16px;
  margin-right: 18px;
  color: #e4e4e4;
  text-shadow: 1px 1px 3px #000;

  @media (max-width: $screen-mobile-l) {
    font-size: 12px;
  }
}

.phone-number {
  font-size: 37px;
  color: #E4E4E4;
  text-shadow: 1px 1px 3px #000;

  @media(max-width: $screen-mobile-l) {
    font-size: 16px;
  }
}

.work-time {
  font-size: 18px;
  display: block;
  margin-top: 10px;
  margin-top: 5px;
  color: #e4e4e4;
  text-shadow: 1px 1px 3px #000;

  @media(max-width: $screen-mobile-l) {
    font-size: 12px;
    text-align: center;
  }
}

.logoheaderurl {
  //height: 0px;
  //left: 50%;
  //margin-left: -73px;
  position: relative;
  //top: 5px;
  //width: 0px;
  display: block;

  > img {
    width: 100%;
    //position: absolute;
  }
}

.headmenu {
  //display: flex;
  //justify-content: space-between;


  //.headmenu:before{
  //  //display: none;
  //
  //  @media(max-width: $screen-mobile-l) {
  //    position: absolute;
  //    left: 0;
  //    top: 10px;
  //    content: '';
  //    width: 20px;
  //    height: 3px;
  //    background-color: #E4E4E4;
  //    color: #e4e4e4;
  //  }
  //}

  .headmenu__wrapper {
    @media(max-width: $screen-mobile-l) {
      //display: none;
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      //width: 100%;

      width: 100vw;
    }
  }

  ul {
    //float: left;
    position: relative;
    //top: 132px;
    //left: 70px;
    display: inline-block;

    li {
      float: left;
      margin-right: 53px;
      list-style: none;
      ///* padding: 11px 12px; */

      @media (max-width: $screen-tablet) {
        margin-right: 0;
        //margin-top: 32px;
      }

      &:hover {
        color: #05376c;
      }
    }
  }
}

//.headmenu__button {
//  display: none;
//
//  @media(max-width: $screen-mobile-l) {
//    display: block;
//    position: relative;
//    top: 8px;
//  }
//
//  &:hover{
//    cursor: pointer;
//  }
//
//}

#menu-checkbox {
  display: none;
}

.headmenu__trigger {
  display: none;

  @media(max-width: $screen-mobile-l) {
    position: relative;
    top: 30px;
    left: 15px;
    display: block;
    width: 40px;
    height: 5px;
    content: '';
    border-radius: 5px;
    //position: absolute;
    background-color: #e4e4e4;
  }

}

.headmenu__trigger:before {
  position: absolute;
  top: -15px;
  width: 40px;
  height: 5px;
  content: '';
  border-radius: 5px;
  background-color: #e4e4e4;

}

.headmenu__trigger:after {
  position: absolute;
  top: 15px;
  width: 40px;
  height: 5px;
  content: '';
  border-radius: 5px;
  background-color: #e4e4e4;

}

.headmenu__trigger:hover {
  cursor: pointer;
}


.headmenu__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $screen-mobile-l) {
    position: relative;
    top: 50px;
    //display: flex;
    left: 0;
    display: none;
    //position: absolute;
    flex-direction: column;
    justify-content: start;
    //width: 100%;
    //height: 300%;
  }

  ul{
    @media(max-width: $screen-mobile-l) {
      padding-left: 15px;
      margin: 0;
    }
  }
}

#menu-checkbox:checked + .headmenu__wrapper {
  background: #3c6699;
  height: 100vh;
}

#menu-checkbox:checked ~ .headmenu__wrapper .headmenu__container {
  display: flex;
}

#menu-checkbox:checked ~ .headmenu__wrapper .headmenu__trigger {
  transform: rotate(45deg);
}

#menu-checkbox:checked ~ .headmenu__wrapper .headmenu__trigger:before {
  transform: translateY(15px) rotate(-90deg);
}

#menu-checkbox:checked ~ .headmenu__wrapper .headmenu__trigger:after {
  display: none;
}

.headmenu ul li a:hover {
  color: #05376c;
  background: #b3bfd3;
}

.headmenu ul li a.active {
  color: #05376c;
  background: #b3bfd3;
}

.headmenu ul li a {
  font-size: 14px;
  font-weight: bold;
  padding: 11px 17px 10px 17px;
  color: #3c6699;


  @media(max-width: $screen-mobile-l) {
    color: #e4e4e4;
    padding: 0;
    font-size: 36px;
  }
}

.headmenu .menu1 {
  //left: 85px;
  padding-left: 85px;

  @media(max-width: $screen-mobile-l) {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
}

.headmenu .menu1 li {
}

.headmenu .menu1 li a {
}

.headmenu .menu2 {
  //left: 153px;
  padding-right: 85px;

  @media(max-width: $screen-mobile-l) {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
}

.headmenu .menu2 li {

  &:last-child {
    margin-right: 0;
  }
}

.headmenu .menu2 li a {
}

#slide {
  height: 475px;
  background-repeat: no-repeat;
  background-position: center;
}

.block2 {
  //margin-bottom: 50px;

  .blockheader {
    position: relative;
    bottom: 60px;
    width: 940px;
    height: 84px;
    margin: 0 auto;
    background: url('../../default/image/block2.png');
  }

  .blockcontent {
    position: relative;
    bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 950px;
    margin: 0 auto;

    .blockcontentcase {
      position: relative;
      //z-index: 9999999;
      float: left;
      width: 285px;
      height: 400px;
      margin-left: 24px;
      border: 1px solid #e6ecf3;
      border-radius: 5px;
      background: url('../../default/image/blockprod.png');

      @media (max-width: $screen-mobile-l) {
        margin-left: 0;
      }

    }

    ul {

      @media (max-width: $screen-tablet) {
        padding-left: 15px;
      }
    }
  }
}

.content-1 .blockcontentcase {
  margin-top: 15px;
}

.blockcontentcase img.imgcase {
  width: 285px;
  margin-left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.blockcontentcase img.imgpodr {
}

.blockcontentcase a.imgpodra {
  position: relative;
  bottom: 22px;
  left: 55px;
}

.blockcontentcase img.imgbord {
  position: relative;

  left: 87px;
}

.blockcontentcase h2 {
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  color: #396699;
}

.blockcontentcase span {
  font-size: 14px;
  display: block;
  width: 240px;
  margin: 0px auto;
  margin-top: 10px;
  text-align: center;
  color: #5f91c1;
}

.blockcontentcase a.imgpamyatkaa {
  position: relative;

  top: 30px;
  left: 60px;
}

.blockcontentcase img.imgpamyatka {
  opacity: 0.6;
}

#pamyatka h2 {
  margin-top: 60px;
  margin-bottom: 35px;
}

#pamyatka img {
  margin-bottom: 20px;
}

#pamyatka a#kakmrab {
  position: relative;
  top: 40px;
  left: 85px;
  text-align: center;
  text-decoration: underline;
  color: #5f91c1;
}

#pamyatka a#kakmrab:hover {
  text-decoration: none;
}

#pamyatka span {
}

.footer {
  //max-width: 940px;
  //height: 90px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background: url('../image/footer.png');
  background-color: #fff;
  background-repeat: no-repeat;

  >.container{
    display: flex;
    justify-content: space-between;

    @media(max-width: $screen-mobile-l) {
      flex-direction: column;
    }
  }
}

.footer .left {
  //float: left;
  display: flex;
  margin-top: 35px;

  @media(max-width: $screen-mobile-l) {
    margin-top: 0;
  }
}

.footer .left ul {
  display: flex;

  @media(max-width: $screen-mobile-l) {
    flex-direction: column;
  }
}

.footer .left ul li {
  //float: left;
  margin-right: 34px;
  list-style: none;

  @media(max-width: $screen-mobile-l) {
    margin-top: 20px;
    margin-right: 0;
  }
}

.footer .left ul li a {
  color: #5f91c1;
}

.footer .left ul li a:hover {
  text-decoration: underline;
}

.footer .right {
  //float: right;
  margin-top: 35px;
}

.footer .right ul {
  display: flex;
}

.footer .right ul li {
  //float: left;
  margin-left: 30px;
  list-style: none;

  @media(max-width: $screen-mobile-l) {
    margin-left: 0;
  }
}

.footer .right ul li a {
  color: #5f91c1;
}

.footer .right ul li a:hover {
  text-decoration: underline;
}

.copy span {
  display: block;
  overflow: hidden;
  height: 130px;
  text-overflow: ellipsis;
}

#content {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.breadcrumb {
  padding-top: 22px;
  text-align: center;
  color: #5f98c3;

  @media (max-width: $screen-mobile-l) {
    padding-top: 0;
  }
}

.breadcrumb a {
  color: #5f98c3;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

#content h1 {
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  color: #396699;

  @media (max-width: $screen-mobile-l) {
    font-size: 28px;
    margin-bottom: 15px;
  }
}

#content .container > .imgbord {
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
  height: 100%;

  @media (max-width: $screen-mobile-l) {
    margin-bottom: 15px;

  }
}


#content .categorylist {

  background: url('../image/submenu.png');
}

.categorylist table {

}

.categorylist table tr {

}

.categorylist table tr td {
  padding-top: 11px;

  padding-bottom: 11px;
  text-align: center;
}

.categorylist table tr td:hover {
  background: url('../image/submenuhover.png');

}

.categorylist table tr td a {
  padding: 10px 0px;

  color: #396699;
}

.categorycategory {
  display: inline-block;
  margin-bottom: 50px;
}

.categorycategory .categorycase {
  float: left;
  width: 420px;
  height: 360px;
  margin-top: 50px;
  margin-right: 23px;
  margin-left: 23px;
  border: 1px solid #e6ecf3;
  border-radius: 5px;
  background: url('../image/blockprod.png');
  background-size: 100% 100%;
}

.categorycase h2 {
  font-size: 34px;
  height: 115px;
  margin-top: 60px;
  text-align: center;
  color: #396699;
}

.categorycase h5 {
  font-size: 14px;
  overflow: hidden;
  height: 100px;
  padding: 0px 30px;
  text-align: center;
  color: #5f91c1;
}

.categorycase img.imgbord {
  position: relative;
  left: 148px;
  margin: 25px 0px;
}

.categorycase a.imgpodra {
  position: relative;

  top: 7px;
  left: 41px;
}

.categorycase img.imgpodr {

}

#content .categorytovar {
  //display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;

  @media(max-width: $screen-tablet) {
    justify-content: center;
  }
}

#content .categorytovar .categorytovarcase {
  float: left;
  width: 280px;
  height: 305px;
  margin: 25px 7px 0px 20px;
  border: 1px solid #e6ecf3;
  border-radius: 5px;
  background: url('../image/blockprod.png');
  background-size: 100% 100%;
}

#content .categorytovar .categorytovarcase:hover {
  box-shadow: 0px 0px 8px 1px #e6ecf3;
}

#content .categorytovar .categorytovarcase:hover h2 {
  cursor: pointer;
  text-decoration: underline;
}

#content .categorytovar img.categorytovarcasepr {
  width: 280px;
  height: 160px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #fff;
}

#content .categorytovar h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0px;
  text-align: center;
  color: #3b6699;
}

#content .categorytovar h5 {
  font-size: 14px;
  overflow: hidden;
  width: 240px;
  height: 47px;
  margin: 0px auto;
  margin-top: 10px;
  text-align: center;
  color: #5f91c1;
}

#content .categorytovar a:hover h5 {
  text-decoration: none;
}

#content .categorytovar a:hover span {
  text-decoration: none;
}

#content .categorytovar a:hover h2 {
  text-decoration: underline;
}

#content .categorytovar a:hover {
  text-decoration: none;
}

#content .categorytovar span.price {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 15px 0px;
  text-align: center;
  text-align: center;
  color: #3b6699;
}

#content .categorytovar span.pod-price {
  display: block;
  text-align: center;
}

#content .categorytovar span.old-price {
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  margin: 15px 5px;
  text-align: center;
  text-decoration: line-through !important;
  color: #666;
}

#content .categorytovar span.new-price {
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  margin: 15px 5px;
  text-align: center;
  color: #3b6699;
}

.pagination {
  margin: 25px 0px;
}

.pagination .links {
  height: 44px;
  padding-top: 10px;
  text-align: center;
  background: url('../image/paginationbg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36% 95%;
}

.pagination .links a {
  padding: 0px 10px;
  color: #3d7ab3;
}

.pagination .links a:hover {
  text-decoration: underline;
}

.pagination .links b {
  font-weight: normal;
  padding: 10px 10px;
  color: #d35341;
}

.pagination .links b:hover {
}

.product-info {
  //display: inline-block;
  display: flex;
  flex-wrap: wrap;

  @media(max-width: $screen-tablet) {
    justify-content: center;
  }
}

.product-info .left {
  //float: left;
  margin-right: 5px;
  max-width: 510px;
}

.product-info .right {
  //float: right;
  max-width: 380px;
  margin-left: 45px;

  @media(max-width: $screen-tablet) {
    margin-top: 35px;
    //margin-left: 0;
  }
}

.product-info .right .description .price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #396699;
}

.description p {
  font-size: 14px;
  position: static;
  top: 0px;
  left: 0px;
  padding: 0px;
  color: #000;
}

.price-old {
  text-decoration: line-through;
  color: #4a6d9896;
}

.product-info .button {
  cursor: pointer;
}

.image img {
  border: 1px solid #e6ecf3;
  border-radius: 5px;
  max-width: 100%;
}

.image-additional{
  @media(max-width: $screen-tablet) {
    margin-top: 35px;
  }
}

.image-additional img {
  border: 1px solid #e6ecf3;
  border-radius: 5px;
}

.content input {
  width: 400px;
}

.blockcontentcase .imgpodr:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.8;
}

.first .prev:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.7;
}

.first .next:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.7;
}

#slide div a span:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.7;
}

.block2 .blockcontent .blockcontentcase:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  box-shadow: 0px 0px 10px 0px #396699;
}

.blockcontentcase img.imgpamyatka:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 1;
}

.links img {
  position: relative;
  top: 5px;
}

.links img:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.8;
}

.categorycategory .categorycase:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  box-shadow: 0px 0px 8px 1px #e6ecf3;
}

#content .categorytovarcase:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.categorycase img.imgpodr:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.8;
}

.box {
  padding: 10px 0px 0px 0px;
  background: url('../image/blockprod.png');
  background-size: 100% 100%;
  box-shadow: inset 10px 10px 20px -7px #e7edf3;
}

.box .box-content {
}

.box .box-content .box-category {
}

.box .box-content .box-category ul {
}

.box .box-content .box-category ul li {
  list-style: none;
}

.box .box-content .box-category ul li a {
  font-size: 15px;
  display: block;
  width: 190px;
  padding: 12px 45px;
  text-decoration: underline;
  color: #3b6699;
}

.box .box-content .box-category ul li a:hover {
  text-decoration: none;
}

.box .box-content .box-category ul li a + ul {
  display: none;
}

.box .box-content .box-category ul li a.active + ul {
  display: block;
}

.box .box-content .box-category ul li a.active {
  text-decoration: underline;
  color: #05376c;
  background: #c8cfdd;
}

.box .box-content .box-category ul li ul {
}

.box .box-content .box-category ul li ul li {
}

.box .box-content .box-category ul li ul li a {
  padding: 12px 24px 12px 66px;
}

.box .box-content .box-category ul li ul li a.active {
}

.button img:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.8;
}

.right .button {
  font-size: 13px;
  padding: 9px 38px;
  cursor: pointer;
  color: #fff;
  border: none;
  background: #3c6699;
}

.right .button:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0.8;
}

.buttons .right {
  margin-top: 25px;
}

@media (min-resolution: .001dpcm) {
  _:-o-prefocus, .abracadabra {
    background: url('../image/logopng.png');
  }
;
}

#product_options .option label {
  display: inline-block;
}

#product_options .error {
  font-size: 12px;
  display: block;
  color: red;
}

#notification {
}

#notification .success {
  line-height: 28px;
  position: fixed;
  top: 300px;
  left: 41%;
  display: block;
  width: 310px;
  padding: 27px;
  text-align: center;
  border: 1px solid #396699;
  border-radius: 5px;
  background: #fff;
}

#notification .success a {
}

#notification .success a:hover {
}

#notification .success img {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.next-cart {
  display: block;
  width: 135px;
  margin: 0px auto;
  margin-top: 15px;
  text-align: center;
  color: #fff;
  background: #396699;
}

.next-cart:hover {
  text-decoration: none;
  color: #fff;
  background: #5f98c3;
}

.categories_1000 {
  margin: 0px;
}

.categories_1000 a {
  display: none;
}

.categories_1000 ul.turboq1 {
  display: table;
  width: 940px;
  text-align: center;
}

.categories_1000 ul.turboq1 ul.turboq1 {
  display: none;
}

.categories_1000 .turboq1 a {
  display: block;
  padding: 11px 25px;
  color: #396699;
}

.categories_1000 .turboq1 a:hover {
  text-decoration: none;
  background: url('../image/submenuhover.png');
}

.categories_1000 .turboq1 li.active {
  display: inline-block;
}

.categories_1000 .turboq1 li.children1 {
  display: inline-block;
}

.categories_1000 .turboq1 li.children1 a {
  display: inline-block;
}

.categories_1000 .turboq1 li.active .active {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  background: #B8CEE8;
}

.categories_1000 .turboq1 li.active .active + ul {
  display: none;
}

.categories_1000 .turboq1 li {
  display: inline-block;
}

.categories_1000 li {
  display: none;
}

.categories_1000 li.children1 {
  display: block;
}

.categories_1000 li.children1 .havechild {
  display: none;
}

.categories_1000 li.children1 .expand-categ {
  display: none;
}

.categories_1000 .turboq1 li.children1 .turboq1 li {
  display: inline-block;
  padding: 0px 8px;
}

.categories_1000 .turboq1 li.children1 .turboq1 li a.active {
  color: #fff;
  background: #B8CEE8;
}

#product_options {
}

#product_options b {
  margin-bottom: 3px;
}

#product_options select {
  width: 300px;
}

#product_options input {
  width: 300px;
}

.options select {
  width: 300px;
}

.options input {
  width: 300px;
}

#simplecheckout_button_confirm {
  display: block;
  width: 135px;
  margin: 0px auto;
  margin-top: 15px;
  padding: 6px 6px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #396699;
}

#simplecheckout_button_confirm:hover {
  text-decoration: none;
  color: #fff;
  background: #5f98c3;
}

.article-info {
  float: left;
  width: 640px;
}

.article-info h2 {
  font-size: 18px;
  font-weight: bold;
}

#content h2 {
  font-size: 18px;
  font-weight: bold;
}

.contact-info ul {
  margin-left: 25px;
}

#product_options .checkbox input {
  width: 15px;
}

#product_options .checkbox label {
  position: relative;
  bottom: 1px;
  width: 290px;
}

.description .cart {
  text-align: center;
}

.description .cart span {
  display: block;
  text-align: center;
}

.linkkk {
  margin-bottom: 10px;
}

.linkkk ul {
  list-style: none;
}

.linkkk ul li {
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 18px;
  list-style: initial;
}

.linkkk ul li a {
  font-size: 15px;
  text-decoration: underline;
}

.linkkk ul li a:hover {
  text-decoration: none;
}

// добавлено мной в код
